@media only screen and (max-width: 768px) {
  .navigation ul {
    position: fixed;
    left: -100%;
    top: 110px;
    flex-direction: column;
    background-color: #494738;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    margin: 0;
  }

  .navigation ul.act {
    left: 0;
  }

  .navigation.rt-nav ul {
    top: 340px;
    left: -100%;
  }

  .navigation.rt-nav ul.act {
    top: 330px;
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .active a,
  .navigation ul li a:hover {
    color: #00b143 !important;
  }

  .modal-webcam,
  .modal-login {
    width: 90%;
    padding: 22px;
  }

  .remember-me .forgot {
    font-family: "Poppins", sans-serif;
  }

  .sign-up-option h5 {
    margin: 0 0 10px 0;
  }
  .modal {
    width: 90%;
    max-height: 100vh;
    height: 100%;
    padding: 20px;
  }
  .form-input,
  .send-button {
    max-width: 300px;
    width: 100%;
  }
  .modal-img,
  input#sender,
  input#e-mail {
    width: 100%;
  }
  .modal-img img {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 25px;
  }

  .hamburger.act .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.act .bar:nth-child(1) {
    -webkit-transform: translateY(24px) rotate(45deg);
    transform: translateY(24px) rotate(45deg);
  }

  .hamburger.act .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  .intro {
    margin: 20px;
    flex-wrap: wrap;
  }
  .intro-content h1 {
    font-size: 28px;
    margin: 50px 0 0 0;
    text-shadow: 0 3px 6px rgb(0 0 0 / 70%);
  }
  .intro p,
  .intro a {
    font-size: 16px;
    color: #494738;
  }
  .intro img {
    margin: 0;
  }
  .path {
    display: none;
  }
  .serv-desc {
    border-radius: 10px;
  }
  .serv-desc h3,
  .join-us-content h3,
  .difference-content h3 {
    font-size: 24px;
  }
  .highlight {
    font-size: 18px;
  }

  .our-friends {
    min-height: 450px;
  }
  .our-friends h2 {
    font-size: 26px;
    margin: 0 0 20px 0;
  }

  .main-footer {
    padding: 100px 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
