body {
  background: url("../images/intro-bg.png") no-repeat;
  background-color: #fcfaec;
  background-size: contain;
  min-height: 100vh;
}

.main-header {
  padding: 10px 0 0 0;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 50px;
}

.logo img {
  max-width: 100px;
  width: 100%;
}

.active a {
  color: #005248 !important;
}

.navigation ul {
  display: flex;
  margin: 0 50px;
}

.navigation ul li,
.navigation ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 2px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: all 300ms ease-in-out;
}

.navigation ul li a:hover {
  color: #005248;
}

.webcam a {
  color: #ffff00;
}

.cam {
  margin-right: 5px;
  transform: translateY(-7px) rotate(20deg);
  color: #f88f70;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  margin: 50px;
  min-height: 100vh;
}

.intro-content h1 {
  font-size: 52px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.intro p {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
  color: #fff;
  max-width: 400px;
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  padding: 15px;
}

.intro a {
  color: #fff;
}

.intro img {
  max-width: 480px;
  width: 100%;
  margin: 7rem;
}

.intro-button {
  margin: 20px 0 0 0;
  background: #005248;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  height: 56px;
  padding: 0 45px 0 45px;
  border-radius: 28px;
  color: #f7f2cb;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  transition: all 0.8s ease;
}

.intro-button:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  cursor: pointer;
}

.intro-button:hover .paw {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.webcam-button {
  justify-content: center;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.show-modal,
.show-modal-webcam,
.show-modal-login {
  border: none;
  cursor: pointer;
}

.close-modal,
.close-modal-webcam,
.close-modal-login {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  color: #494738;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 768px;
  width: 80%;
  max-height: 500px;
  height: 80%;
  background-color: #ffff00;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  /* transform: translateX(-1500px); */
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-webcam,
.modal-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  width: 80%;
  max-height: 400px;
  height: 80%;
  background-color: #ffff00;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.hidden {
  display: none;
}

.modal h3,
.modal-webcam h3,
.modal-login h3 {
  color: #00b444;
  font-size: 30px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
}

.modal-webcam h3,
.modal-login h3 {
  font-size: 20px;
  margin: 30px 0 0 0;
}

.modal-webcam p,
.modal-login p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #494738;
  margin: 10px 0 0 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.out {
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes roadRunnerIn {
  0% {
    transform: translate(-1500px, -200px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translate(-40%, -50%) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translate(-50%, -50%) skewX(0deg) scaleX(1);
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.6);
  }
}

@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

.schedule-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.form-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  width: 100%;
  margin: 20px 0 0 0;
}

.form-description label,
.modal-img label {
  color: #494738;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 10px 0 10px 0;
}

.modal-img {
  display: flex;
  flex-direction: column;
}

.modal-img img {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
}

.form-input {
  position: relative;
  max-width: 290px;
  width: 100%;
}

.form-input span {
  position: absolute;
  top: 0px;
  height: 40px;
  padding: 12px 10px 0px 20px;
  color: #aaa;
  font-size: 16px;
  border-right: 1px solid rgb(0 0 0 / 20%);
}

.select-wrapper {
  position: relative;
  max-width: 300px;
  width: 100%;
}

.select-wrapper::after {
  content: "▼";
  font-size: 1rem;
  top: 12px;
  right: 10px;
  position: absolute;
  color: #fff;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  padding: 10px 0;
}

.remember-me .forgot {
  font-size: 13px;
  color: #1779ba;
}

.sign-up-option {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 0;
}

.sign-up-option h5 {
  color: #494738;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.sign-up-social {
  display: flex;
  justify-content: space-between;
}

.login-fb,
.login-google,
.login-tw {
  color: #494738;
  font-size: 22px;
  transition: all 0.3s;
}

.login-fb:hover {
  color: #1877f2;
}

.login-google:hover {
  color: #ea4335;
}

.login-tw:hover {
  color: #1da1f2;
}

label#remember-label {
  font-size: 13px;
  margin: 0 10px 0 0;
}

input#remember {
  appearance: auto;
  height: 12px;
}

input#email,
input#password,
input#room-key {
  margin: 0 0 20px 0;
  max-width: 290px;
  width: 100%;
  padding: 0 0 0 50px;
}

input#password {
  margin: 0 auto;
}

select#services,
input#date,
textarea#description {
  max-width: 300px;
  width: 100%;
}

select,
input,
textarea {
  color: #fbfaf0;
  border: none;
  background: #494738;
  height: 40px;
  padding: 7px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border-radius: 20px;
  appearance: none;
  text-indent: 10px;
  transition: all 300ms ease;
}
select:focus,
input:focus,
textarea:focus {
  box-shadow: 0 3px 7px #000;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

input#sender,
input#e-mail {
  margin: 0 0 10px 0;
  padding: 0 0 0 45px;
}

textarea {
  height: 150px;
  border-radius: 5px;
}

option {
  background: #979265;
}

.send-button {
  margin: 10px 0 0 0;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background: #00b444;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.send-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.send-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.send-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
  cursor: pointer;
}

.send-button:hover svg {
  transform: translateX(-1.2em) rotate(45deg) scale(1.1);
}

.send-button:hover span {
  transform: translateX(-15em);
}

.send-button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* slider styles */

.our-friends {
  margin: 0 auto;
  overflow: hidden;
}

.our-friends h2 {
  font-size: 55px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  color: #00b444;
}

.slider {
  position: relative;
}

.container {
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.c1,
.c2,
.c3 {
  max-width: 400px;
  width: 60%;
  position: absolute;
  transition: all 500ms ease;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: #fff;
  color: #494738;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.c1 {
  transform: translateX(0) scale(1.5);
  z-index: 99;
}
.c2 {
  transform: translateX(-200px) scale(1);
}
.c3 {
  transform: translateX(200px) scale(1);
}

.c1 img,
.c2 img,
.c3 img {
  max-width: 200px;
  width: 100%;
  margin: 0 10px 0 0;
  clip-path: circle(38% at 50% 50%);
}

.friends h3 {
  font-weight: 700;
  text-align: center;
  border-bottom: 3px solid #00b444;
  padding: 5px;
}

.quotes {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  width: 100%;
}

.friends-quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friends-quotes h6 {
  font-size: 7px;
  margin: 5px auto;
  color: #ccc;
  border: 1px solid #cccccc78;
  padding: 3px;
  border-radius: 15px;
  background: #fff;
}

.friends-quotes p {
  text-align: center;
}

.prev,
.next {
  position: absolute;
  color: #00b444;
  font-size: 50px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  top: 50%;
  transition: all 250ms ease-in;
  border-radius: 50%;
  z-index: 999;
}
.prev {
  left: 15%;
}
.next {
  right: 15%;
}

.prev:hover,
.next:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  cursor: pointer;
}

.prev:active,
.next:active {
  transform: scale(0.7);
}

/* service styling */

.path {
  display: flex;
  flex-direction: column;
  background: url("../images/path.png") no-repeat;
  background-size: contain;
  margin: 0 0 0 50px;
  border-radius: 15px;
  max-width: 480px;
  width: 100%;
}

.path-title {
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
  color: #494738;
  margin: 20px 0 0 0;
}

.item {
  width: 200px;
  height: 200px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
}

.item:nth-child(2) {
  transform: translateX(330px);
}

.serv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}

.serv-desc {
  max-width: 480px;
  width: 100%;
  background: #ffff00;
  padding: 50px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

.serv-desc h3,
.join-us-content h3,
.difference-content h3 {
  font-size: 48px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  color: #00b444;
  margin: 20px 0;
}

.how {
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #494738;
}

.highlight {
  font-weight: 700;
  color: #00b444;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.zip {
  background: #fff;
  border-radius: 50px;
  padding: 5px 5px 5px 10px;
  margin: 20px 0;
  max-width: 260px;
  width: 100%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input#zip,
input#subscription {
  background: transparent;
  width: 150px;
  height: 50px;
  font-size: 18px;
  color: #494738;
}

input#zip:focus,
input#subscription:focus {
  box-shadow: none;
}

input#zip::placeholder,
input#subscription::placeholder {
  color: #ccc;
  font-size: 16px;
  font-weight: 300;
}

.zip-submit {
  color: #00b444;
  background: transparent;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 250ms ease-in;
  border-radius: 50%;
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.zip-submit:hover {
  box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
  transform: translateY(-3px);
  cursor: pointer;
}

.join-us-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  background: #ffff00;
  max-width: 1024px;
  width: 100%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
}

.join-us-img img {
  max-width: 260px;
  width: 100%;
}

.join-us-content {
  max-width: 480px;
  width: 100%;
}

.join-button {
  justify-content: center;
}

/* footer styling */

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 60vh;
  background: #005248;
  padding: 100px 0;
}

.footer-menu li a,
.newsletter p {
  color: #f7f2cb;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
}

.menu-about h3,
.menu-resources h3,
.newsletter h3 {
  color: #ffff00;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0;
}

.newsletter-form {
  background: #fff;
  border-radius: 50px;
  padding: 5px 5px 5px 10px;
  margin: 20px 0;
  max-width: 360px;
  width: 100%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input#subscription {
  max-width: 300px;
  width: 100%;
}

.footer-submit {
  color: #005248;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #005248;
  background: #f7f2cb;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 250ms ease-in;
}

.social-icons a:hover {
  transform: translateY(-3px);
}

/* daycare */

.difference {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  margin: 60px 0;
}

.difference-img img {
  max-width: 500px;
  width: 100%;
  margin: 0 0 0 50px;
  border-radius: 10px;
}

.daycare-img img {
  margin: 0 50px 0 0;
}

.daycare-items {
  border-radius: 0 10px 10px 0;
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #494738;
}

.boarding-green {
  background-color: #00b444;
  border: 5px dashed #ffff00;
}

.boarding-green h3 {
  color: #ffff00;
}

.difference-content {
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #494738;
  max-width: 650px;
  width: 100%;
}

.difference-content h3 {
  margin: 20px 0;
}

.difference-content p {
  margin: 10px 0;
  font-size: 18px;
}

.routine li {
  margin: 0 0 20px 0;
  font-size: 18px;
}

.routine li::before {
  content: "\f1b0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 25px;
  color: #00b444;
}

/* Back to top button */
#btt-button {
  display: inline-block;
  background-color: #00b444;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#btt-button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#btt-button:hover {
  cursor: pointer;
  background-color: #00993b;
}
#btt-button:active {
  background-color: #00993b;
}
#btt-button.show {
  opacity: 1;
  visibility: visible;
}
