body {
  background: url("../images/intro-bg.png") no-repeat;
  background-color: #fcfaec;
  background-size: contain;
  min-height: 100vh;
}

.main-header {
  padding: 10px 0 0 0;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 50px;
}

.logo img {
  max-width: 100px;
  width: 100%;
}

.navigation ul {
  display: flex;
  margin: 0 50px;
}

.navigation ul li,
.navigation ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 2px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: all 250ms ease-in-out;
}

.navigation ul li a:hover {
  /* background: rgb(255 255 255 / 40%); */
  /* border-radius: 5px; */
  color: #494738;
}

.webcam a {
  color: #ffff00;
}

.cam {
  margin-right: 5px;
  transform: translateY(-7px) rotate(20deg);
  color: #f88f70;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  margin: 50px;
  min-height: 100vh;
}

.intro-content h1 {
  font-size: 52px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.intro p {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
  color: #fff;
  max-width: 400px;
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  padding: 15px;
}

.intro a {
  color: #fff;
}

.intro img {
  max-width: 360px;
  width: 100%;
  margin: 3rem;
}

.intro-button {
  margin: 20px 0 0 0;
  background: #00f6ff;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  height: 56px;
  padding: 0 45px 0 45px;
  border-radius: 28px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  transition: all 0.8s ease;
}

.intro-button:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  cursor: pointer;
}

.intro-button:hover .paw {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.show-modal {
  border: none;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  color: #494738;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 768px;
  width: 80%;
  max-height: 100vh;
  height: 80%;
  background-color: #fcfaec;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  /* transform: translateX(-1500px); */
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes roadRunnerIn {
  0% {
    transform: translate(-1500px, -200px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translate(-40%, -50%) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translate(-50%, -50%) skewX(0deg) scaleX(1);
  }
}

.modal h3 {
  color: #494738;
  font-size: 30px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.schedule-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.form-description {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}

.form-description label {
  color: #494738;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 10px 0 10px 0;
}

.modal-img img {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
}

select,
input,
textarea {
  color: #fbfaf0;
  border: none;
  background: #c6c188;
  height: 40px;
  width: 100%;
  padding: 7px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: #fbfaf0;
}

input#sender {
  margin: 0 0 2px 0;
}

textarea {
  height: 75px;
}

option {
  background: #979265;
}

.send-button {
  margin: 20px 0 0 0;
  width: 100%;
  height: 58px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background: #00b444;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.send-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.send-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.send-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
  cursor: pointer;
}

.send-button:hover svg {
  transform: translateX(-1.2em) rotate(45deg) scale(1.1);
}

.send-button:hover span {
  transform: translateX(-15em);
}

.send-button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* slider styles */

.our-friends {
  margin: 0 auto;
  min-height: 350px;
}

.our-friends h2 {
  font-size: 55px;
  margin-bottom: 150px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  color: #00b444;
}

.slider {
  position: relative;
}

.container {
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.c1,
.c2,
.c3 {
  width: 400px;
  position: absolute;
  transition: all 500ms ease;
  display: flex;
  flex-direction: row;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: #fff;
  color: #494738;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.c1 {
  transform: translateX(0) scale(1.5);
  z-index: 99;
}
.c2 {
  transform: translateX(-200px) scale(1);
}
.c3 {
  transform: translateX(200px) scale(1);
}

.c1 img,
.c2 img,
.c3 img {
  max-width: 200px;
  margin: 0 10px 0 0;
}

.friends h3 {
  margin: 0 -30px 0 0;
  padding: 5px;
  font-weight: 700;
  text-align: right;
  background: #ffff00;
  border-radius: 0 4px 0 0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 16%);
}

.quotes {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-end;
}

.friends:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #136a00 transparent transparent transparent;
  z-index: -1;
  position: absolute;
  top: 42px;
  right: -10px;
}

.friends-quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friends-quotes h6 {
  font-size: 7px;
  margin: 5px auto;
  color: #ccc;
  border: 1px solid #cccccc78;
  padding: 3px;
  border-radius: 15px;
  background: #fff;
}

.friends-quotes h6::before {
  content: "";
  height: 1px;
  background: #cccccc78;
  width: 100px;
  position: absolute;
  z-index: -1;
  left: 254px;
  margin: 3px 0 0 0;
}

.friends-quotes p {
  text-align: center;
}

.friends-quotes p::after {
  content: "";
  height: 1px;
  background: #cccccc78;
  width: 100px;
  position: absolute;
  z-index: -1;
  left: 254px;
  bottom: 30px;
}

.prev,
.next {
  position: absolute;
  color: #00b444;
  font-size: 50px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  top: 50%;
  transition: all 250ms ease-in;
  border-radius: 50%;
}
.prev {
  left: 15%;
}
.next {
  right: 15%;
}

.prev:hover,
.next:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  cursor: pointer;
}

.prev:active,
.next:active {
  transform: scale(0.7);
}

/* service styling */

.path {
  display: flex;
  flex-direction: column;
  background: url("../images/path.png") no-repeat;
  background-size: contain;
  margin: 0 0 0 50px;
  border-radius: 15px;
  max-width: 480px;
  width: 100%;
}

.path-title {
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
  color: #494738;
  margin: 20px 0 0 0;
}

.item {
  width: 200px;
  height: 200px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
}

.item:nth-child(2) {
  transform: translateX(330px);
}

.serv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}

.serv-desc {
  max-width: 480px;
  width: 100%;
  background: #ffff00;
  padding: 50px;
  border-radius: 100px 0 0 100px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  max-height: 480px;
}

.serv-desc h3,
.join-us-content h3 {
  font-size: 48px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  color: #00b444;
}

.how {
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #494738;
  margin: 50px auto;
}

.highlight {
  font-weight: 700;
  color: #00b444;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.zip {
  background: #fff;
  border-radius: 50px;
  padding: 5px 5px 5px 10px;
  margin: 20px 0;
  max-width: 260px;
  width: 100%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input#zip,
input#subscription {
  background: transparent;
  width: 150px;
  height: 50px;
  font-size: 18px;
  color: #494738;
}

input#zip::placeholder,
input#subscription::placeholder {
  color: #ccc;
  font-size: 16px;
}

.zip-submit {
  color: #00b444;
  background: transparent;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 250ms ease-in;
  border-radius: 50%;
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.zip-submit:hover {
  box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
  transform: translateY(-3px);
  cursor: pointer;
}

.join-us-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  background: #ffff00;
  max-width: 1024px;
  width: 100%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
}

.join-us-img img {
  max-width: 360px;
  width: 100%;
}

.join-us-content {
  max-width: 480px;
  width: 100%;
}

.join-button {
  justify-content: center;
}

/* footer styling */

.main-footer {
  min-height: 40vh;
  background: #005248;
  margin: 50px 0 0 0;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-menu li a,
.newsletter p {
  color: #f7f2cb;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
}

.menu-about h3,
.menu-resources h3,
.newsletter h3 {
  color: #ffff00;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0;
}

.newsletter-form {
  background: #fff;
  border-radius: 50px;
  padding: 5px 5px 5px 10px;
  margin: 20px 0;
  max-width: 360px;
  width: 100%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input#subscription {
  max-width: 300px;
  width: 100%;
}

.footer-submit {
  color: #005248;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #005248;
  background: #f7f2cb;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 250ms ease-in;
}

.social-icons a:hover {
  transform: translateY(-3px);
}
